@import "compass";
@import "compass/layout";
@import "compass/reset";
@import "icomoon";

@font-face {
    font-family: 'icomoon';
    src:url('../icomoon/fonts/icomoon.eot?200299');
    src:url('../icomoon/fonts/icomoon.eot?#iefix200299') format('embedded-opentype'),
        url('../icomoon/fonts/icomoon.woff?200299') format('woff'),
        url('../icomoon/fonts/icomoon.ttf?200299') format('truetype'),
        url('../icomoon/fonts/icomoon.svg?200299#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

$bg-color: #efefef;
$text-color: #4f4f4f;
$secondy-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;



body {
    font-size: 62.5%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.hero {
    max-width: 100em;
    margin: 0 auto;

    header {
        img {
            width: 8em;
            height: 2em;
            float: left;
            margin-left: 3em;
        }
        ul {
            float: right;
            margin-right: 3em;

            li {
                float: left;
                margin: 1em .5em;
                padding: .5em 1em;
                border: 1px solid transparent;
                border-radius: 2px;

                &:last-child {
                    border: 1px solid $highlight-text-color;
                }
            }
        }
        @include clearfix;
    }

    h1 {
        font-size: 4em;
        padding: 5em 0 1em 0;
        font-weight: bold;
    }

    h2 {
        font-size: 2em;
        padding-bottom: .7em;
        color: #d9dada;
    }
    background: url('../images/find-an-agent-hero.png');
    background-size: cover;

    color: $highlight-text-color;

    form {
        padding: 2em 0 9em 0;

        input[type="text"] {
            padding: 1em;
            border: 0;
            width: 18em;
            border-radius: 2px 0 0 2px;
            background: $bg-color;
            opacity: .3;
        }

        input[type="button"] {
            color: $highlight-text-color;
            padding: 1em;
            border: 0;
            width: 6em;
            border-radius: 0 2px 2px 0;
            background-color: lightgreen;
            text-transform: uppercase;
        }
    }
}

.numbers{
    width: 80%;
    margin: 0 auto;

    ul {
            position: relative;
            top: -1em;
            background: $bg-color;

            li {
                float: left;
                width: 25%;
                box-sizing: border-box;
                border-top: 1px solid $secondy-text-color;
                border-bottom: 1px solid $secondy-text-color;
                border-left: 1px solid $secondy-text-color;

                &:last-child {
                    border-right: 1px solid $secondy-text-color;
                }

                h2 {
                    font-size: 2em;
                    padding: 1em 0;
                }

                h3 {
                    padding: 0 0 2em 0;
                }
            }

            @include clearfix;
        }

}


